<mat-toolbar color="primary">
    <span>Applicacion de usuarios</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard/inicio">Enviar mensajes</button>
    <button mat-button routerLink="/dashboard/login">Login</button>
    <button mat-button routerLink="/dashboard/reportes">Pagina de registro</button>
    <button mat-button routerLink="/dashboard/usuarios">Bandeja de Mensajes</button>
    <span class="example-spacer"></span>
    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
    </button>
 </mat-toolbar>