<p>reportes works!</p>
<p>aca va el registro del usuario:</p>
<section></section>
<mat-form-field appearance="fill">
    <mat-label>Nombre de Usuario</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill" type="password">
    <mat-label >Repetir Contraseña</mat-label>
    <input matInput >
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Pais</mat-label>
    <mat-select>
      <mat-option >Afganistán</mat-option>
      <mat-option >Akrotiri</mat-option>
      <mat-option >Albania</mat-option>
      <mat-option >Alemania</mat-option>
      <mat-option >Andorra</mat-option>
      <mat-option >Angola</mat-option>
      <mat-option >Anguila</mat-option>
      <mat-option >Antártida</mat-option>
      <mat-option >Antigua y Barbuda</mat-option>
      <mat-option >Arabia Saudí</mat-option>
      <mat-option >Arctic Ocean</mat-option>
      <mat-option >Argentina</mat-option>
      <mat-option >Armenia</mat-option>
      <mat-option >Aruba</mat-option>
      <mat-option >Ashmore and Cartier Islands</mat-option>
      <mat-option >Atlantic Ocean</mat-option>
      <mat-option >Australia</mat-option>
      <mat-option >Austria</mat-option>
      <mat-option >Azerbaiyán</mat-option>
      <mat-option >Bahamas</mat-option>
      <mat-option >Bahráin</mat-option>
      <mat-option >Bangladesh</mat-option>
      <mat-option >Barbados</mat-option>
      <mat-option >Bélgica</mat-option>
      <mat-option >Belice</mat-option>
      <mat-option >Benín</mat-option>
      <mat-option >Bermudas</mat-option>
      <mat-option >Bielorrusia</mat-option>
      <mat-option >Birmania; Myanmar</mat-option>
      <mat-option >Bolivia</mat-option>
      <mat-option >Bosnia y Hercegovina</mat-option>
      <mat-option >Botsuana</mat-option>
      <mat-option >Brasil</mat-option>
      <mat-option >Brunéi</mat-option>
      <mat-option >Bulgaria</mat-option>
      <mat-option >Burkina Faso</mat-option>
      <mat-option >Burundi</mat-option>
      <mat-option >Bután</mat-option>
      <mat-option >Cabo Verde</mat-option>
      <mat-option >Camboya</mat-option>
      <mat-option >Camerún</mat-option>
      <mat-option >Canadá</mat-option>
      <mat-option >Chad</mat-option>
      <mat-option >Chile</mat-option>
      <mat-option >China</mat-option>
      <mat-option >Chipre</mat-option>
      <mat-option >Clipperton Island</mat-option>
      <mat-option >Colombia</mat-option>
      <mat-option >Comoras</mat-option>
      <mat-option >Congo</mat-option>
      <mat-option >Coral Sea Islands</mat-option>
      <mat-option >Corea del Norte</mat-option>
      <mat-option >Corea del Sur</mat-option>
      <mat-option >Costa de Marfil</mat-option>
      <mat-option >Costa Rica</mat-option>
      <mat-option >Croacia</mat-option>
      <mat-option >Cuba</mat-option>
      <mat-option >Curacao</mat-option>
      <mat-option >Dhekelia</mat-option>
      <mat-option >Dinamarca</mat-option>
      <mat-option >Dominica</mat-option>
      <mat-option >Ecuador</mat-option>
      <mat-option >Egipto</mat-option>
      <mat-option >El Salvador</mat-option>
      <mat-option >El Vaticano</mat-option>
      <mat-option >Emiratos Árabes Unidos</mat-option>
      <mat-option >Eritrea</mat-option>
      <mat-option >Eslovaquia</mat-option>
      <mat-option >España</mat-option>
      <mat-option >Estonia</mat-option>
      <mat-option >Etiopía</mat-option>
      <mat-option >Filipinas</mat-option>
      <mat-option >Fiyi</mat-option>
      <mat-option >Francia</mat-option>
      <mat-option >Gabón</mat-option>
      <mat-option >Gambia</mat-option>
      <mat-option >Gaza Strip</mat-option>
      <mat-option >Georgia</mat-option>
      <mat-option >Ghana</mat-option>
      <mat-option >Gibraltar</mat-option>
      <mat-option >Granada</mat-option>
      <mat-option >Grecia</mat-option>
      <mat-option >Groenlandia</mat-option>
      <mat-option >Guam</mat-option>
      <mat-option >Guatemala</mat-option>
      <mat-option >Guernsey</mat-option>
      <mat-option >Guinea</mat-option>
      <mat-option >Guinea Ecuatorial</mat-option>
      <mat-option >Guinea-Bissau</mat-option>
      <mat-option >Guyana</mat-option>
      <mat-option >Haití</mat-option>
      <mat-option >Honduras</mat-option>
      <mat-option >Hong Kong</mat-option>
      <mat-option >Hungría</mat-option>
      <mat-option >India</mat-option>
      <mat-option >Indian Ocean</mat-option>
      <mat-option >Indonesia</mat-option>
      <mat-option >Irán</mat-option>
      <mat-option >Iraq</mat-option>
      <mat-option >Irlanda</mat-option>
      <mat-option >Isla Bouvet</mat-option>
      <mat-option >Isla Christmas</mat-option>
      <mat-option >Isla Norfolk</mat-option>
      <mat-option >Islandia</mat-option>
      <mat-option >Islas Caimán</mat-option>
      <mat-option >Islas Cocos</mat-option>
      <mat-option >Islas Cook</mat-option>
      <mat-option >Islas Feroe</mat-option>
      <mat-option >Islas Georgia del Sur y Sandwich del Sur</mat-option>
      <mat-option >Islas Heard y McDonald</mat-option>
      <mat-option >Islas Malvinas</mat-option>
      <mat-option >Islas Marianas del Norte</mat-option>
      <mat-option >Islas Marshall</mat-option>
      <mat-option >Islas Pitcairn</mat-option>
      <mat-option >Islas Salomón</mat-option>
      <mat-option >Islas Turcas y Caicos</mat-option>
      <mat-option >Islas Vírgenes Americanas</mat-option>
      <mat-option >Islas Vírgenes Británicas</mat-option>
      <mat-option >Israel</mat-option>
      <mat-option >Italia</mat-option>
      <mat-option >Jamaica</mat-option>
      <mat-option >Jan Mayen</mat-option>
      <mat-option >Japón</mat-option>
      <mat-option >Jersey</mat-option>
      <mat-option >Jordania</mat-option>
      <mat-option >Kazajistán</mat-option>
      <mat-option >Kenia</mat-option>
      <mat-option >Kirguizistán</mat-option>
      <mat-option >Kiribati</mat-option>
      <mat-option >Kosovo</mat-option>
      <mat-option >Kuwait</mat-option>
      <mat-option >Laos</mat-option>
      <mat-option >Lesoto</mat-option>
      <mat-option >Letonia</mat-option>
      <mat-option >Líbano</mat-option>
      <mat-option >Liberia</mat-option>
      <mat-option >Libia</mat-option>
      <mat-option >Liechtenstein</mat-option>
      <mat-option >Lituania</mat-option>
      <mat-option >Luxemburgo</mat-option>
      <mat-option >Macao</mat-option>
      <mat-option >Macedonia</mat-option>
      <mat-option >Madagascar</mat-option>
      <mat-option >Malasia</mat-option>
      <mat-option >Malaui</mat-option>
      <mat-option >Maldivas</mat-option>
      <mat-option >Malí</mat-option>
      <mat-option >Malta</mat-option>
      <mat-option >Man, Isle of</mat-option>
      <mat-option >Marruecos</mat-option>
      <mat-option >Mauricio</mat-option>
      <mat-option >Mauritania</mat-option>
      <mat-option >México</mat-option>
      <mat-option >Micronesia</mat-option>
      <mat-option >Moldavia</mat-option>
      <mat-option >Mónaco</mat-option>
      <mat-option >Mongolia</mat-option>
      <mat-option >Montenegro</mat-option>
      <mat-option >Montserrat</mat-option>
      <mat-option >Mozambique</mat-option>
      <mat-option >Mundo</mat-option>
      <mat-option >Namibia</mat-option>
      <mat-option >Nauru</mat-option>
      <mat-option >Navassa Island</mat-option>
      <mat-option >Nepal</mat-option>
      <mat-option >Nicaragua</mat-option>
      <mat-option >Níger</mat-option>
      <mat-option >Nigeria</mat-option>
      <mat-option >Niue</mat-option>
      <mat-option >Noruega</mat-option>
      <mat-option >Nueva Caledonia</mat-option>
      <mat-option >Nueva Zelanda</mat-option>
      <mat-option >Omán</mat-option>
      <mat-option >Pacific Ocean</mat-option>
      <mat-option >Países Bajos</mat-option>
      <mat-option >Pakistán</mat-option>
      <mat-option >Palaos</mat-option>
      <mat-option >Panamá</mat-option>
      <mat-option >Papúa-Nueva Guinea</mat-option>
      <mat-option >Paracel Islands</mat-option>
      <mat-option >Paraguay</mat-option>
      <mat-option >Perú</mat-option>
      <mat-option >Polinesia Francesa</mat-option>
      <mat-option >Polonia</mat-option>
      <mat-option >Portugal</mat-option>
      <mat-option >Puerto Rico</mat-option>
      <mat-option >Qatar</mat-option>
      <mat-option >Reino Unido</mat-option>
      <mat-option >República Centroafricana</mat-option>
      <mat-option >República Democrática del Congo</mat-option>
      <mat-option >República Dominicana</mat-option>
      <mat-option >Ruanda</mat-option>
      <mat-option >Rumania</mat-option>
      <mat-option >Rusia</mat-option>
      <mat-option >Sáhara Occidental</mat-option>
      <mat-option >Samoa</mat-option>
      <mat-option >Samoa Americana</mat-option>
      <mat-option >San Bartolomé</mat-option>
      <mat-option >San Cristóbal y Nieves</mat-option>
      <mat-option >San Marino</mat-option>
      <mat-option >San Martín</mat-option>
      <mat-option >San Pedro y Miquelón</mat-option>
      <mat-option >San Vicente y las Granadinas</mat-option>
      <mat-option >Santa Helena</mat-option>
      <mat-option >Santa Lucía</mat-option>
      <mat-option >Santo Tomé y Príncipe</mat-option>
      <mat-option >Senegal</mat-option>
      <mat-option >Serbia</mat-option>
      <mat-option >Seychelles</mat-option>
      <mat-option >Sierra Leona</mat-option>
      <mat-option >Singapur</mat-option>
      <mat-option >Sint Maarten</mat-option>
      <mat-option >Siria</mat-option>
      <mat-option >Somalia</mat-option>
      <mat-option >Southern Ocean</mat-option>
      <mat-option >Spratly Islands</mat-option>
      <mat-option >Sri Lanka</mat-option>
      <mat-option >Suazilandia</mat-option>
      <mat-option >Sudáfrica</mat-option>
      <mat-option >Sudán</mat-option>
      <mat-option >Sudán del Sur</mat-option>
      <mat-option >Suecia</mat-option>
      <mat-option >Suiza</mat-option>
      <mat-option >Surinam</mat-option>
      <mat-option >Svalbard y Jan Mayen</mat-option>
      <mat-option >Tailandia</mat-option>
      <mat-option >Taiwán</mat-option>
      <mat-option >Tanzania</mat-option>
      <mat-option >Tayikistán</mat-option>
      <mat-option >Territorio Británico del Océano Indico</mat-option>
      <mat-option >Territorios Australes Franceses</mat-option>
      <mat-option >Timor Oriental</mat-option>
      <mat-option >Togo</mat-option>
      <mat-option >Tokelau</mat-option>
      <mat-option >Tonga</mat-option>
      <mat-option >Trinidad y Tobago</mat-option>
      <mat-option >Túnez</mat-option>
      <mat-option >Turkmenistán</mat-option>
      <mat-option >Turquía</mat-option>
      <mat-option >Tuvalu</mat-option>
      <mat-option >Ucrania</mat-option>
      <mat-option >Uganda</mat-option>
      <mat-option >Unión Europea</mat-option>
      <mat-option >Uruguay</mat-option>
      <mat-option >Uzbekistán</mat-option>
      <mat-option >Vanuatu</mat-option>
      <mat-option >Venezuela</mat-option>
      <mat-option >Vietnam</mat-option>
      <mat-option >Wake Island</mat-option>
      <mat-option >Wallis y Futuna</mat-option>
      <mat-option >West Bank</mat-option>
      <mat-option >Yemen</mat-option>
      <mat-option >Yibuti</mat-option>
      <mat-option >Zambia</mat-option>
      <mat-option >Zimbabue</mat-option>          
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ciudad</mat-label>
    <mat-select>
      <mat-option >Zimbabue</mat-option>          
    </mat-select>
  </mat-form-field>
 <mat-form-field appearance="fill">
  <mat-label>Text area</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
