
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 20rem;
  background-color: rgb(216, 196, 240);
  border-radius: 10px;
  margin: 8rem;
  padding: 10px;
}

.preRegistro {
  display: flex;
  font-style: italic;
  align-content: center;
}